.forecast-card .forecast-card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    height: 200px;
    border-radius: 20px;
    margin: 5px;
    background-color: $color-weather-card-bg;
}

.forecast-card.dark .forecast-card-item {
    background-color: $color-weather-card-bg-dark;
    color: $color-weather-card-text-dark;
}
