.text-field .MuiOutlinedInput-root {
    border-radius: 20px;
}

.search-input .MuiIconButton-root {
    padding: 15px;
}

.close-button:hover{
    background-color: $color-seach-input-hover;
    cursor: pointer;
}
.red{
    background: $color-search-input-error;
}
.loading {
    @include text-loading;
    color: $color-loading;
}
