.weather-card-main {
    margin: 0px 30px;
    @media (max-width: 467px) {
        margin: 0px 15px;
    }
}

.weather-card-main .weather-card-main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 20px auto;
    height: 285px;
    position: relative;
    min-width: 300px;
    border-radius: 40px;
    background-color: $color-weather-card-simplify-bg;
    @media (max-width: 967px) {
        flex-direction: column-reverse;
        justify-content: start;
        height: auto;
        min-height: 310px;
    }
} 
.weather-card-main.dark .weather-card-main-card{
    background-color: $color-weather-card-simplify-bg-dark;
}

.weather-card-main-card {
    display: flex;
}
.weather-card-main .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}


