.sidebar {
    width: 300px;
}

.sidebar .MuiButton-outlined {
    margin-right: 10px;
    border-radius: 20px;
    padding: 15px 20px;
}

.sidebar .button {
    padding: 10px;
}
.sidebar .button {
    margin-left: 100px;
}
.swipeable-drawer.dark .MuiPaper-root {
    background-color: rgb(73, 73, 73);
}
.swipeable-drawer.dark .sidebar{
    color: white;
}
.swipeable-drawer.dark .MuiButton-root{
    color: white;
}
