.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/header_background.jpg');
    height: 180px;
    padding: 0 40px;
    overflow: hidden;
    background-size: cover;
}

.header p {
    font-weight: 400;
    font-size: 24px;
}

.header .MuiButton-outlined {
    margin-right: 10px;
    border-radius: 20px;
    padding: 15px 20px;
}
