@mixin text-loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    top: 0%;
    left: 0;
    padding: 10px;
    width: 100%;
    z-index: 100;
}