$color-layout-bg-dark: #000;
$color-layout-text-dark:#e4e4e4;
$color-bg-footer: #5f6262;
$color-footer-text: #fff;
$color-bg-footer-dark:#181818;
$color-mui-button-dark: #e4e4e4;
$color-bottom-tab: #093ea1;
$color-weather-card-bg: #f3f3f3;
$color-weather-card-bg-dark: #505050;
$color-weather-card-text-dark: #e4e4e4;
$color-seach-input-hover: #000;
$color-search-input-error: rgba(255, 0, 0, 0.3);
$color-sidebar-bg: #fff;
$color-sidebar-bg-dark: #494949;
$color-weather-card-simplify-bg: #F0F0F0;
$color-weather-card-simplify-bg-dark: #333;
$color-loading: #fff;

